body {
	background: #151823;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1160px;
}
p {
	font-size: 26px;
	margin-top: 300px;
	color: white;
}

/* ANIMAÇÃO WHATS + TOOLTIP */
.whatsapp-container {
	width: 140px;
	padding: 5px;

	text-decoration: none;

	position: fixed;
	bottom: 15px;
	right: 15px;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: whatsappFadeUp 600ms ease-in-out forwards;
	animation-delay: 0s;
}
.whatsapp-img {
	border-radius: 100%;
	animation: whatsappPulse 2s ease-in-out infinite;
}
.whatsapp-tooltip {
	border-radius: 15px;
	padding: 9px;
	margin-right: 10px;

	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;

	background: #fff;
	color: black;

	visibility: hidden;
	opacity: 0;

	transition: 200ms ease-in-out;
}
.whatsapp-container:hover .whatsapp-tooltip {
	transition: 200ms ease-in-out;
	visibility: visible;
	opacity: 1;
}
@keyframes whatsappFadeUp {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes whatsappPulse {
	0% {
		box-shadow: 0 0 0 0px #25d366;
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}
